.comp {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
    margin-bottom: 80px;
  }
  
  .comp h2 {
    margin-top: 30px;
  }
  
  .comp ul {
    margin-top: 30px;
  }
  
  .comp + div {
    text-align: center;
  }
  
  .a-propos-main {
    width: 50%;
    margin: auto;
  }

  table{
    color: white;
    text-align: center;
    border-collapse : collapse;
    width : 100%  
}

  td,
  th{
    padding: 15px;
    border: 1px solid #a5b4fc;
  }

  td{
    padding: 80px;
  }

  h2{
    margin-bottom: 80px;
  }

  h1,
  h2{
    text-align: center;
  }

  @media screen and (max-width: 996px){
    .section-tarifs {
      display: none;
    }
  }